.conteiner{
    text-align: center;
    border-color: brown;
    background-color: gray;
}

.circles{
    width: 25%;
    height: 25%;
    border-radius: 50%;
    border: 10px solid #666;
}

#img-wd{
    width: 100%;
    height: 100%;
}